<div *ngIf="hyver" class="hv-selected-panel">
    <h2>Hyver Editor</h2>

    <img src="{{ hyver.photoUrl }}" width="40%">
    <br>

    <label>Name: </label>
    <input type="text" name="fullname" [(ngModel)]="hyver.name"/><br>

    <label>Rank #: </label>
    <input type="text" name="rank" [(ngModel)]="hyver.rank"/><br>

    <label>Job Title: </label>
    <input type="text" name="title" [(ngModel)]="hyver.title"/><br>

    <label>PhotoURL: </label>
    <input type="text" name="photoUrl" [(ngModel)]="hyver.photoUrl"/><br>

    <button (click)="goBack()">Back</button>
</div>
