.hv-hyvers-list {
    list-style-type: none;
    padding:25px;
}
.hv-hyvers-list li {
    width:180px;
    display: inline-block;
    margin:10px;
    position: relative;
    overflow:hidden;
    border:5px solid lightgrey;
    text-align:center
}

.hv-hyvers-list li:hover, .hv-selected {
    border-bottom: solid crimson 5px !important;
}

.hv-selected {
    border: solid lightseagreen 5px !important;
}

.hv-most-faved {
    background-color: aquamarine;
}
