.hv-hyvers-list {
    list-style-type: none;
    padding:25px;
}
.hv-hyvers-list li {
    width:180px;
    display: inline-block;
    margin:10px;
    position: relative;
    overflow:hidden;
    border:5px solid lightgrey;
    text-align:center
}

.hv-hyvers-list li:hover, .hv-selected {
    border-bottom: solid crimson 5px !important;
}

.hv-selected {
    border: solid lightseagreen 5px !important;
}

.hv-selected-panel {
    width: 800px;
    padding: 1em;
    border: solid grey 1px !important;
    display: table;
    margin: 0 auto;
    background-color: lightgrey;
}


.hv-most-faved {
    background-color: aquamarine;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
}
